In [29]:
from pandas import Series, DataFrame
import pandas as pd
import calendar
import statsmodels.api as sm
from patsy import dmatrices
%pylab inline

C:\ProgramData\Anaconda2\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda2\lib\site-packages\IPython\core\magics\pylab.py:161: UserWarning: pylab import has clobbered these variables: ['test']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

# Setup

In [3]:
#read data in, appended 2014/2015, removed GO from col names
crime2014 = pd.read_csv("https://raw.githubusercontent.com/sxzhu/mis381_project/master/data/Austin_Crime_2014.csv", dtype=unicode, encoding='utf-8')
crime2014[:3]

crime2015 = pd.read_csv("https://raw.githubusercontent.com/sxzhu/mis381_project/master/data/Austin_Crime_2015.csv", dtype=unicode, encoding='utf-8')
crime = crime2014.append(crime2015,ignore_index=True)

crime = crime.rename(index=str, columns={"Highest NIBRS/UCR Offense Description": "General Offense Description",\
                                 "GO Highest Offense Desc":"Detailed Offense Description",\
                                 "GO Location":"Location","GO Report Date":"Report Date",\
                                 "GO Location Zip":"Zipcode","GO District":"District","GO Census Tract":"Census Tract",\
                                 "GO X Coordinate":"X Coordinate","GO Y Coordinate":"Y Coordinate",\
                                      "GO Primary Key":"Primary Key"})

crime = crime.drop('Location_1', axis=1)
crime['Date'] = pd.DatetimeIndex(crime['Report Date'])
crime['Month'] = pd.DatetimeIndex(crime['Date']).month
crime['Month'] = crime['Month'].apply(lambda x: calendar.month_abbr[x])
crime['Year'] = pd.DatetimeIndex(crime['Report Date']).year

## Merge Crimes

In [4]:
def merge_crimes(s):
    """Map some crimes together."""
    
    # Create a map of misspellings to correct spelling
    misspellings = {'Burglary / \nBreaking & Entering':'Burglary',
                    'Auto Theft':'Theft: Auto Parts',
                    'Homicide: Murder & Nonnegligent Manslaughter':'Murder',
                    'Agg Assault':'Aggravated Assault'}
    
    if s in misspellings:
        return misspellings[s]
    else:
        return s
    
# Apply the function to the Series
crime['General Offense Description'] = crime['General Offense Description'].map(merge_crimes)

def merge_theft(s):
    """Map some crimes together."""
    
    if (s[:5]=='Theft'):
        return s[:5]
    else:
        return s
    
# Apply the function to the Series
crime['General Offense Description'] = crime['General Offense Description'].map(merge_theft)

# Check that it worked
# mask = (crime['General Offense Description'] == 'Agg Assault')
# crime['General Offense Description'][mask]  # should be empty

crime['General Offense Description'].value_counts()

Theft                 61908
Burglary              10597
Aggravated Assault     3803
Robbery                1809
Rape                   1042
Murder                   55
Name: General Offense Description, dtype: int64

# Final Dataframe

In [5]:
#Add the 'Streetname' column to both dataframes, keeping only the street name information
# removes leading numbers, leading 'BLOCK', leading hyphenated or / numbers, trailing 'NB', 'SB', 'EB', 'WB', trailing 'SVRD', and leading 'N', 'S', 'E', 'W'

crime['Streetname'] = crime['Location'].str.rsplit('\n', -1).str[0].str.replace('^[/\s\d-]+/?\d*\s+', '').str.replace('^\d+[A-Z]\s+', '').str.replace('^BLOCK\s+', '').str.replace('\s[NSEW]B\s*$', '').str.replace('\sSVRD\s*$', '').str.replace('^\s*[NSEW]\s+', '').str.replace(' HALF ST', ' ST').str.rstrip()
crime['PrimaryStreet'] = crime['Streetname'].str.rsplit(' / ', -1).str[0]
crime['SecondaryStreet'] = crime['Streetname'].str.rsplit(' / ', -1).str[1]

In [7]:
crime['DayOfWeek'] = pd.DatetimeIndex(crime['Date']).weekday
crime['DayOfWeek'] = crime['DayOfWeek'].apply(lambda x: calendar.day_abbr[x])

In [8]:
crime.head()

,Clearance Date,Clearance Status,Council District,Census Tract,District,Detailed Offense Description,Location,Zipcode,Primary Key,Report Date,X Coordinate,Y Coordinate,General Offense Description,Date,Month,Year,Streetname,PrimaryStreet,SecondaryStreet,DayOfWeek
0,04/28/2014 12:00:00 AM,N,1,18.350000000000001,E,AGG ROBBERY/DEADLY WEAPON,12151 N IH 35 SVRD NB ...,78753,20141061920,04/17/2014 12:00:00 AM,3135985,10117220,Robbery,2014-04-17,Apr,2014,IH 35,IH 35,NaN,Thu
1,05/20/2014 12:00:00 AM,N,1,21.13,I,ROBBERY BY ASSAULT,3300 BLOCK ROCKHURST LN ...,78723,20141150937,04/25/2014 12:00:00 AM,3137985,10087946,Robbery,2014-04-25,Apr,2014,ROCKHURST LN,ROCKHURST LN,NaN,Fri
2,05/13/2014 12:00:00 AM,N,3,9.02,C,ROBBERY BY THREAT,E 7TH ST / CHICON ST ...,78702,20141310316,05/11/2014 12:00:00 AM,3120890,10068910,Robbery,2014-05-11,May,2014,7TH ST / CHICON ST,7TH ST,CHICON ST,Sun
3,03/24/2015 12:00:00 AM,C,1,21.04,I,AGG ROBBERY/DEADLY WEAPON,WHELESS LN / BERKMAN DR ...,78723,20141670098,06/16/2014 12:00:00 AM,3130566,10089446,Robbery,2014-06-16,Jun,2014,WHELESS LN / BERKMAN DR,WHELESS LN,BERKMAN DR,Mon
4,10/02/2014 12:00:00 AM,N,3,9.02,G,AGG ROBBERY/DEADLY WEAPON,WALLER ST / E 2ND ST ...,78702,20142070292,07/26/2014 12:00:00 AM,3117732,10068195,Robbery,2014-07-26,Jul,2014,WALLER ST / E 2ND ST,WALLER ST,E 2ND ST,Sat

In [11]:
df = crime
result = pd.crosstab(df['DayOfWeek'], [df['Month'], df['Zipcode']], dropna=False)
result

Month       Apr                                                        ...   \
Zipcode   78610 78613 78617 78652 78653 78660 78701 78702 78703 78704  ...
DayOfWeek                                                              ...
Fri           0     8    10     0     0     1    24    40    15    55  ...
Mon           0     6     5     0     0     7    55    53    23    59  ...
Sat           0     9    11     0     0     3    36    33     5    41  ...
Sun           0     5     6     0     0     1    51    38    11    49  ...
Thu           0     4     9     0     2     1    34    40    24    59  ...
Tue           0    10     7     0     2     5    39    51    22    69  ...
Wed           0    11     6     0     0     3    46    56    26    76  ...

Month       Sep
Zipcode   78749 78750 78751 78752 78753 78754 78756 78757 78758 78759
DayOfWeek
Fri          12     6    13    25    88     7    12    35    72    41
Mon          18    17    13    32   118    13    13    20    61    40
Sat          18     8    17    27    70     1     5    22    47    23
Sun          18     3     9    24    70     4     2    17    32    16
Thu          18    14    20    28    76    11     7    29    65    41
Tue          23    17    31    40   103    11    14    27    70    33
Wed          17     8    30    34    87     7     9    29    85    42

[7 rows x 576 columns]

In [18]:
df = crime.drop_duplicates(subset='Date')
test = pd.crosstab(df['DayOfWeek'], [df['Month']], dropna=False)
test

Month      Apr  Aug  Dec  Feb  Jan  Jul  Jun  Mar  May  Nov  Oct  Sep
DayOfWeek
Fri          8    9    8    8   10    9    8    8   10    8   10    8
Mon          8    9    9    8    8    8   10   10    8    9    8    9
Sat          8   10    8    8    9    8    8    9   10    9    9    8
Sun          8   10    8    8    8    8    9   10    9   10    8    8
Thu          9    8    9    8   10   10    8    8    9    8   10    8
Tue          9    8   10    8    8    9    9    9    8    8    8   10
Wed         10    8   10    8    9   10    8    8    8    8    9    9

In [27]:
final = pd.DataFrame((result/test).unstack()).reset_index()
final.columns = ['Month', 'Zipcode', 'Day', 'Average']
final.head()

  Month Zipcode  Day  Average
0   Apr   78610  Fri      0.0
1   Apr   78610  Mon      0.0
2   Apr   78610  Sat      0.0
3   Apr   78610  Sun      0.0
4   Apr   78610  Thu      0.0

In [30]:
y, X = dmatrices('Average ~ Month + Zipcode + Day', data=final, return_type='dataframe')

In [31]:
model = sm.OLS(y, X)       # Set up the model
result = model.fit()       # Fit model (find the intercept and slopes)
print result.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                Average   R-squared:                       0.930
Model:                            OLS   Adj. R-squared:                  0.928
Method:                 Least Squares   F-statistic:                     817.2
Date:                Sun, 13 Aug 2017   Prob (F-statistic):               0.00
Time:                        11:38:40   Log-Likelihood:                -4383.2
No. Observations:                4032   AIC:                             8896.
Df Residuals:                    3967   BIC:                             9306.
Df Model:                          64
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            0.0364      0.092      0.396      0.692      -0.144       0.216
Month[T.Aug]         0.0649      0.056      1.162      0.245      -0.045       0.174
Month[T.Dec]        -0.0877      0.056     -1.571      0.116      -0.197       0.022
Month[T.Feb]        -0.1066      0.056     -1.909      0.056      -0.216       0.003
Month[T.Jan]        -0.0665      0.056     -1.192      0.233      -0.176       0.043
Month[T.Jul]         0.1149      0.056      2.058      0.040       0.005       0.224
Month[T.Jun]         0.0174      0.056      0.312      0.755      -0.092       0.127
Month[T.Mar]        -0.0453      0.056     -0.811      0.417      -0.155       0.064
Month[T.May]         0.0405      0.056      0.725      0.468      -0.069       0.150
Month[T.Nov]        -0.0394      0.056     -0.705      0.481      -0.149       0.070
Month[T.Oct]        -0.0546      0.056     -0.979      0.328      -0.164       0.055
Month[T.Sep]        -0.0360      0.056     -0.646      0.519      -0.145       0.073
Zipcode[T.78613]     1.0810      0.112      9.683      0.000       0.862       1.300
Zipcode[T.78617]     0.7503      0.112      6.721      0.000       0.531       0.969
Zipcode[T.78652]     0.0190      0.112      0.170      0.865      -0.200       0.238
Zipcode[T.78653]     0.0619      0.112      0.555      0.579      -0.157       0.281
Zipcode[T.78660]     0.3551      0.112      3.181      0.001       0.136       0.574
Zipcode[T.78701]     5.6728      0.112     50.817      0.000       5.454       5.892
Zipcode[T.78702]     5.2917      0.112     47.403      0.000       5.073       5.511
Zipcode[T.78703]     1.9016      0.112     17.035      0.000       1.683       2.120
Zipcode[T.78704]     7.2363      0.112     64.822      0.000       7.017       7.455
Zipcode[T.78705]     3.4020      0.112     30.475      0.000       3.183       3.621
Zipcode[T.78712]     0.0178      0.112      0.159      0.873      -0.201       0.237
Zipcode[T.78717]     0.6725      0.112      6.024      0.000       0.454       0.891
Zipcode[T.78719]     0.4263      0.112      3.818      0.000       0.207       0.645
Zipcode[T.78721]     1.5322      0.112     13.726      0.000       1.313       1.751
Zipcode[T.78722]     0.9215      0.112      8.255      0.000       0.703       1.140
Zipcode[T.78723]     5.7607      0.112     51.605      0.000       5.542       5.980
Zipcode[T.78724]     1.5066      0.112     13.497      0.000       1.288       1.726
Zipcode[T.78725]     0.1625      0.112      1.455      0.146      -0.056       0.381
Zipcode[T.78726]     0.5976      0.112      5.353      0.000       0.379       0.816
Zipcode[T.78727]     1.4664      0.112     13.136      0.000       1.248       1.685
Zipcode[T.78728]     0.0266      0.112      0.238      0.812      -0.192       0.245
Zipcode[T.78729]     1.3189      0.112     11.815      0.000       1.100       1.538
Zipcode[T.78730]     0.1309      0.112      1.172      0.241      -0.088       0.350
Zipcode[T.78731]     1.4862      0.112     13.313      0.000       1.267       1.705
Zipcode[T.78732]     0.0024      0.112      0.021      0.983      -0.216       0.221
Zipcode[T.78733]     0.0015      0.112      0.013      0.989      -0.217       0.220
Zipcode[T.78735]     0.7857      0.112      7.038      0.000       0.567       1.005
Zipcode[T.78736]     0.1721      0.112      1.541      0.123      -0.047       0.391
Zipcode[T.78737]     0.0059      0.112      0.053      0.958      -0.213       0.225
Zipcode[T.78739]     0.4336      0.112      3.884      0.000       0.215       0.652
Zipcode[T.78741]     8.7250      0.112     78.159      0.000       8.506       8.944
Zipcode[T.78742]     0.1023      0.112      0.917      0.359      -0.117       0.321
Zipcode[T.78744]     5.6425      0.112     50.546      0.000       5.424       5.861
Zipcode[T.78745]     6.8433      0.112     61.302      0.000       6.624       7.062
Zipcode[T.78746]     2.1991      0.112     19.700      0.000       1.980       2.418
Zipcode[T.78747]     0.7104      0.112      6.364      0.000       0.492       0.929
Zipcode[T.78748]     4.2257      0.112     37.853      0.000       4.007       4.445
Zipcode[T.78749]     2.2796      0.112     20.420      0.000       2.061       2.498
Zipcode[T.78750]     1.1330      0.112     10.150      0.000       0.914       1.352
Zipcode[T.78751]     2.5362      0.112     22.719      0.000       2.317       2.755
Zipcode[T.78752]     3.4237      0.112     30.670      0.000       3.205       3.643
Zipcode[T.78753]    10.1226      0.112     90.678      0.000       9.904      10.341
Zipcode[T.78754]     1.2110      0.112     10.848      0.000       0.992       1.430
Zipcode[T.78756]     0.9620      0.112      8.617      0.000       0.743       1.181
Zipcode[T.78757]     3.1432      0.112     28.156      0.000       2.924       3.362
Zipcode[T.78758]     7.3666      0.112     65.990      0.000       7.148       7.585
Zipcode[T.78759]     4.0538      0.112     36.314      0.000       3.835       4.273
Day[T.Mon]           0.3836      0.043      8.998      0.000       0.300       0.467
Day[T.Sat]          -0.4062      0.043     -9.529      0.000      -0.490      -0.323
Day[T.Sun]          -0.4362      0.043    -10.231      0.000      -0.520      -0.353
Day[T.Thu]          -0.0041      0.043     -0.096      0.923      -0.088       0.079
Day[T.Tue]           0.2202      0.043      5.166      0.000       0.137       0.304
Day[T.Wed]           0.1213      0.043      2.846      0.004       0.038       0.205
==============================================================================
Omnibus:                      635.760   Durbin-Watson:                   1.829
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3946.906
Skew:                           0.599   Prob(JB):                         0.00
Kurtosis:                       7.697   Cond. No.                         53.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.